.sidenav .sidenav-menu .sidenav-menu-nested {
  flex-direction: column;
  width: 6.5rem;
}

.action-checkbox-column {
  width: 1.5rem;
  text-align: center;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.sidenav .sidenav-menu .sidenav-menu-nested ul li a {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

#dataTable tbody tr {
  cursor: pointer;
}

#dataTable tbody tr:hover {
  background-color: #f7f7f7;
}

.login-background {
  background-color: #f7f7f7;
}